<div class="form-container">
  <h2>Register Restaurant</h2>

  <div *ngIf="showSuccess" class="alert-success">Restaurant added successfully!</div>

  <form #resForm="ngForm" (ngSubmit)="onSubmit(resForm)" novalidate>
    <div class="form-group">
      <label>Restaurant Name</label>
      <input type="text" name="restaurantName" [(ngModel)]="restaurant.restaurantName" required />
    </div>

    <fieldset>
      <legend>Address</legend>
      <input
        type="text"
        name="landmark"
        placeholder="Landmark"
        [(ngModel)]="restaurant.address.landmark"
      />
      <input
        type="text"
        name="district"
        placeholder="District"
        [(ngModel)]="restaurant.address.district"
      />

      <select name="state" [(ngModel)]="restaurant.address.state" required>
        <option value="" disabled selected>Select a State</option>
        <option *ngFor="let s of states" [value]="s">{{ s }}</option>
      </select>
    </fieldset>

    <div class="form-group">
      <label>Opening Hours</label>

      <div>
        <label>Open</label>
        <input type="time" name="openTime" [(ngModel)]="restaurant.openingHours.open" required />
      </div>

      <div>
        <label>Close</label>
        <input type="time" name="closeTime" [(ngModel)]="restaurant.openingHours.close" required />
      </div>
    </div>

    <div class="form-group">
      <label>Contact Number</label>
      <input
        type="text"
        name="contactNumber"
        [(ngModel)]="restaurant.contactNumber"
        #phone="ngModel"
        required
        pattern="^\d{10}$"
        placeholder="10-digit number"
      />

      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error-msg">
        <small *ngIf="phone.errors?.['required']">Phone number is required.</small>
        <small *ngIf="phone.errors?.['pattern']">Must be a valid 10-digit number.</small>
      </div>
    </div>

    <button type="submit" [disabled]="resForm.invalid">Register Restaurant</button>
  </form>
</div>
