<div class="category-container">
  <button (click)="navigateTo()">Back</button>
  <div class="category-header">
    <h2>Explore Our {{ sectionName }}</h2>
  </div>

  <div class="search-wrapper">
  <input 
    type="text" 
    placeholder="Search {{ sectionName }}..." 
    [formControl]="searchControl" 
    class="search-bar"
  />
</div>

  <div class="menu-grid" *ngIf="menuItems && menuItems.length > 0; else noItems">
    <div *ngFor="let item of menuItems" class="menu-card">
      <div class="image-box">
        <img [src]="'http://localhost:8000/' + item.imagePath" 
             alt="{{ item.itemName }}" 
             class="item-image" />
      </div>

      <div class="card-content">
        <div class="card-title-row">
          <h3>{{ item.itemName }}</h3>
          <span class="price-tag">₹{{ item.price }}</span>
        </div>
        
        <p class="description">{{ item.description }}</p>
        
        <div class="menu-actions">
          <!-- Show edit/delete buttons only for restaurant owner -->
          <div class="owner-group" *ngIf="!currentUser || currentUser.role === 'USER'">
            <button class="btn-edit" (click)="handleEdit(item._id)">Edit</button>
            <button class="btn-delete" (click)="handleDelete(item._id)">Delete</button>
          </div>
          
          <!-- Show Add to Cart button for normal user -->
          <button class="btn-add" 
                  *ngIf="!currentUser || currentUser.role === 'USER'"  
                  (click)="handleAddToCart(item._id)">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty state -->
  <ng-template #noItems>
    <p class="no-items-message">No items available for {{ sectionName }}.</p>
  </ng-template>
</div>
